@using backend.Helpers.Messages

@{
    ViewBag.Title = @Localizer[AboutViewStringsForResources.About_Title];
}
<main aria-labelledby="title">
    <h2 id="title">@Localizer[AboutViewStringsForResources.About_Title]</h2>
    <h3>@Localizer[AboutViewStringsForResources.About_Messages]</h3>

    <p>@Localizer[AboutViewStringsForResources.About_Messages]</p>
</main>